<link rel="stylesheet" href="/css/styles.css">

<h1>Political Compass Survey</h1>
<p>
  This survey plots you on the
  <a href="https://knowyourmeme.com/memes/political-compass">
    Political Compass</a>.
</p>
<img src="https://i.kym-cdn.com/entries/icons/original/000/021/323/Political_chart.svg.png" width=400px>
<p>
  When you are ready, head to the <a href="./survey">survey</a>.
</p>


